{{ define "content" }}
<section>
  <form class="centre-form" novalidate>
    <h1>Request Password Reset</h1>
    <span class="input-group">
      <label for="email">Email</label>
      <input type="email" id="email" required />
      <span class="error-message" id="email-error" aria-live="polite"></span>
    </span>
    <button type="submit">Request Reset</button>
  </form>
</section>

<script type="module">
  import { alertModal } from '/js/main.js'

  const form = document.querySelector('form')
  const email = document.querySelector('#email')
  const emailError = document.querySelector('#email-error')

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    if (email.validity.valueMissing) {
      emailError.textContent = 'This field is required'
    }
    else if (email.validity.typeMismatch) {
      emailError.textContent = 'Email is not formatted correctly'
    }
    else if (email.validity.valid) {
      emailError.textContent = ''

      try {
        const { record, token } = await client.collection('users').requestPasswordReset(email.value)
        alertModal({
          titleText: 'Please check your email',
          bodyText: 'We sent a password reset link to your account, please use that link to finish changing your password.',
          onConfirm: async () => {
            location.href = '/login'
          },
        })
      }
      catch (e) {
        alertModal({
          titleText: 'Error resetting password',
          bodyText: JSON.stringify(e),
          onConfirm: () => {},
        })
      }
    }
  })
</script>

<style>
main {
  place-content: center;
  min-height: calc(100% - var(--header-size) - 2*var(--gutter));
}
</style>
{{ end }}
