{{ define "content" }}
<h1>Welcome to Spellslingerer!</h1>
<br>
<h2>Important Notes:</h2>
<h3>This site is in beta, expect frequent downtime and for data to repeatedly be deleted</h3>
<h3>The deckbuilder only works on desktop, I haven't designed it for mobile yet (coming soon!)</h3>
<br>
<p>A card database and deckbuilder site</p>
<p>Upcoming features:</p>
<ul>
  <li>Add foil cards to your decks</li>
  <li>Decent styling</li>
  <li>And more...</li>
</ul>
<br>
<p>On Cookies: Spellslingerer uses a single cookie to keep you logged in. We do not use any cookies or other data to
  track you, sell your data to advertisers, or for any other breach of privacy.</p>
<p>Spellslingerer is unofficial Fan Content permitted under the Fan Content Policy. Not approved/endorsed by Wizards.
  Portions of the materials used are property of Wizards of the Coast. ©Wizards of the Coast LLC.</p>
<style>
  h1 {
    color: var(--secondary-colour);
    font-size: 3rem;
    text-shadow: var(--text-shadow);
  }
</style>
{{ end }}