{{ define "content" }}
<!-- <section>
  <details>
    <summary>Filter and Sort Options</summary>
    <form>
      <h2>Filter</h2>
      <div id="filter-fields" class="grid" style="--grid-min-width: 40ch">
        <span class="input-group" data-field-name="name">
          <label for="name">Name</label>
          <input type="text" id="name" data-main-input />
        </span>
        <span class="input-group" data-field-name="ability">
          <label for="ability">Ability</label>
          <input type="text" id="ability" data-main-input />
        </span>
        <span class="input-group" data-field-name="health">
          <label for="health">Health</label>
          <input type="number" id="health" data-main-input />
          <span>
            <label for="health-op">Operation</label>
            <select id="health-op" data-opcode>
              <option value="=">=</option>
              <option value="!=">!=</option>
              <option value=">">&gt;</option>
              <option value=">=">&gt;=</option>
              <option value="<">&lt;</option>
              <option value="<=">&lt;=</option>
            </select>
          </span>
        </span>
        <span class="input-group" data-field-name="colour.name">
          <fieldset data-main-input>
            <legend>Colour</legend>
            <input type="checkbox" id="white" value="White" />
            <label for="white">White</label>
            <input type="checkbox" id="blue" value="Blue" />
            <label for="blue">Blue</label>
            <input type="checkbox" id="black" value="Black" />
            <label for="black">Black</label>
            <input type="checkbox" id="red" value="Red" />
            <label for="red">Red</label>
            <input type="checkbox" id="green" value="Green" />
            <label for="green">Green</label>
            <input type="checkbox" id="colourless" value="Colourless" />
            <label for="colourless">Colourless</label>
          </fieldset>
          <span>
            <label for="colour-op">Operation</label>
            <select id="colour-op" data-opcode>
              <option value="exact">Exact match</option>
              <option value="include">Include these colours</option>
              <option value="at-most">At most these colours</option>
            </select>
          </span>
        </span>
      </div>
      <h2>Sort</h2>
      <div id="sort-fields" class="grid" style="--grid-min-width: 40ch">
        <span class="input-group">
          <label for="prop1">Property</label>
          <select id="prop1" data-main-input>
            <option value="">Unset</option>
            <option value="name">Name</option>
            <option value="ability">Ability</option>
            <option value="health">Health</option>
            <option value="colour.sort_order">Colour</option>
          </select>
          <span>
            <label for="dir1">Direction</label>
            <select id="dir1" data-opcode>
              <option value="+">Ascending</option>
              <option value="-">Descending</option>
            </select>
          </span>
        </span>
        <span class="input-group">
          <label for="prop2">Property</label>
          <select id="prop2" data-main-input>
            <option value="">Unset</option>
            <option value="name">Name</option>
            <option value="ability">Ability</option>
            <option value="health">Health</option>
            <option value="colour.sort_order">Colour</option>
          </select>
          <span>
            <label for="dir2">Direction</label>
            <select id="dir2" data-opcode>
              <option value="+">Ascending</option>
              <option value="-">Descending</option>
            </select>
          </span>
        </span>
        <span class="input-group">
          <label for="prop3">Property</label>
          <select id="prop3" data-main-input>
            <option value="">Unset</option>
            <option value="name">Name</option>
            <option value="ability">Ability</option>
            <option value="health">Health</option>
            <option value="colour.sort_order">Colour</option>
          </select>
          <span>
            <label for="dir3">Direction</label>
            <select id="dir3" data-opcode>
              <option value="+">Ascending</option>
              <option value="-">Descending</option>
            </select>
          </span>
        </span>
      </div>
      <div class="flex">
        <button type="submit">Search</button>
        <button type="reset">Reset</button>
      </div>
    </form>
  </details>
</section> -->

<h1>Spellslingers</h1>

{{ range . }}
  {{ $colour := getValue . "colour" }}
  {{ $abilities := getValue . "abilities" }}
  {{ $signatures := getValue . "signatures" }}

  <section class="spellslinger-tile grid" style="--grid-min-width: 0">
    <img loading="lazy" class="spellslinger-tile__image" style="grid-area: image" src="/images/spellslingers/{{ getValue . "name" }}.webp" />
    <h3 style="grid-area: name"><a href="/spellslingers/{{ .Id }}">{{ getValue . "name" }}</a></h3>
    <span style="grid-area: health"><label>Health:</label> {{ getValue . "health" }}</span>
    <span style="grid-area: colour">{{ range $colour }}{{ getValue . "name" }} {{ end }}</span>
    <span style="grid-area: ability">
      {{ range $abilities }}
        <p><label>{{ getValue . "name" }}:</label> {{ getValue . "ability" }}</p>
      {{ end }}
    </span>
    <span class="grid" style="--grid-min-width: 0; grid-area: signatures">
      {{ range $signatures }}
        <a href="/cards/{{ .Id }}"><img loading="lazy" alt="{{ getValue . "name" }}" src="/images/cards/text/{{ getValue . "name" }}.webp" /></a>
      {{ end }}
    </span>
  </section>
{{ end }}

<style>
  .spellslinger-tile {
    grid-template: "image name"
                   "image health"
                   "image colour"
                   "ability ability"
                   "signatures signatures";
  }

  /* TODO: pick correct size */
  @media(min-width: 800px) {
    .spellslinger-tile {
      grid-template: "image name health colour"
                     "image ability ability ability"
                     "image signatures signatures signatures";
    }
  }
</style>
{{ end }}